
<div class="container">

  <h1><%= @cocktail.name %></h1>

  <%= link_to "Spill cocktail", @cocktail, :confirm => "Are you sure?", :method => :delete %>
|
  <%= link_to "All cocktails", cocktails_path %>

</div>
